---
import type { Project } from '@/interfaces/projects'
import Title from '@/components/ui/Title.astro'
import Indicator from '@/components/ui/Indicator.astro'
import WorksList from './WorksList.astro'

interface Props {
  works: Omit<Project, 'images' | 'techs'>[]
}

const { works } = Astro.props
---

<section class='grid gap-4'>
  <header class='ml-indent flex items-center'>
    <Indicator />
    <Title content='Trabajos realizados' as='h2' />
  </header>
  <WorksList {works} />
</section>
