---
import type { Project } from '@/interfaces/projects'
import WorkCard from './WorkCard.astro'

interface Props {
  works: Omit<Project, 'images' | 'techs'>[]
}

const { works = [] } = Astro.props
---

<ul class='ml-indent flex gap-10 will-change-transform'>
  {
    works.map((work) => (
      <li class='shrink-0'>
        <WorkCard {...work} />
      </li>
    ))
  }
</ul>
