---
import Experience from '@/features/portfolio/experience/Experience.astro'
import Hero from '@/features/portfolio/hero/Hero.astro'
import Nav from '@/features/portfolio/nav/Nav.astro'
import Projects from '@/features/portfolio/projects/Projects.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Ignacio Molina - Portfolio'>
  <div aria-hidden='true' class='grid grid-cols-[630px_auto]'>
    <aside class='w-full'>
      <Nav />
    </aside>
    <main class='grid gap-52'>
      <Hero />
      <Experience />
      <!-- <Projects /> -->
    </main>
  </div>
</Layout>
