---
import Layout from '../layouts/Layout.astro'
import ContactSection from '../components/ContactSection.astro'
import ExperienceSection from '../components/ExperienceSection.astro'
import ProjectsSection from '../components/ProjectsSection.astro'
import AboutSection from '../components/AboutSection.astro'
import MoreProjectsSection from '../components/MoreProjectsSection.astro'
---

<Layout
  title="<Ignacio Molina 九껊잺 /> Portfolio"
  description="+2 a침os de experiencia en proyectos freelance. Apasionado por el dise침o y el desarrollo. Me integro en la visi칩n de dise침o de tu proyecto para desarrollar webs 칰nicas. Actualmente en Santiago, Chile 游">
  <main class="px-4 max-w-4xl w-full mx-auto">
    <ContactSection />
    <ExperienceSection />
    <ProjectsSection />
    <MoreProjectsSection />
    <AboutSection />
  </main>
</Layout>
