---
import Layout from '../layouts/Layout.astro'
import Button from '@/components/ui/Button.astro'
---

<Layout title='Welcome to Astro.'>
  <main class='grid min-h-screen place-items-center bg-background'>
    <Button> Ver más </Button>
    <Button variants='square'> CV </Button>
  </main>
</Layout>
