---
import Experience from '@/sections/portfolio/experience/Experience.astro'
import Hero from '@/sections/portfolio/hero/Hero.astro'
import Nav from '@/sections/portfolio/nav/Nav.astro'
import PersonalProjects from '@/sections/portfolio/personal-projects/PersonalProjects.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Ignacio Molina - Portfolio'>
  <div aria-hidden='true' class='grid grid-cols-[630px_auto]'>
    <aside class='w-full'>
      <Nav />
    </aside>
    <main class='grid gap-52'>
      <Hero />
      <Experience />
      <PersonalProjects />
    </main>
  </div>
</Layout>
