---
import Experience from '@/components/Experience.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects.astro'
---

<Layout title='Welcome to Astro.'>
  <div aria-hidden='true' class='grid grid-cols-[630px_auto]'>
    <aside class='w-full'>
      <nav></nav>
    </aside>
    <main class='grid gap-52'>
      <Hero />
      <Experience />
      <Projects />
    </main>
  </div>
</Layout>
