---
import { getCollection } from 'astro:content'
import Project from './components/Project.astro'

export const projects = await getCollection(
  'projects',
  ({ data }) => data.type === 'personal'
)
---

<section class='grid gap-24'>
  {projects.map((project) => <Project {...project} />)}
</section>
