---
import Project from './components/Project.astro'
import { getProjects } from '@/content'

const { currentLocale: lang } = Astro
export const PROJECTS = await getProjects({ type: 'personal' })
---

<section class='grid gap-24'>
  {PROJECTS.map((project) => <Project {...project} />)}
</section>
