---
import Section from "./Section.astro";
---

<Section id="Experiencia" title="Experiencia">
  <ol class="border-l-2 border-dashed border-zinc-400 py-4">
    <li class="space-y-2 ms-4">
      <time
        class="text-sm text-slate-400 before:contet-[''] before:size-4 before:bg-yellow-200 before:absolute before:rounded-full before:mt-1 before:-ml-[25px]"
      >
        2022 - Actualmente
      </time>
      <h3 class="font-bold text-xl">Desarollador Freelance</h3>
      <p class="font-sans text-pretty max-w-[60ch]">
        Desarrollo sitios web con alto rendimiento, utilizando Astro como
        framework principal, me gusta comprender a profundidad las
        características del producto de los clientes para crear un sitio web que
        encaje a la perfección con sus necesidades.
      </p>
    </li>
  </ol>
</Section>
