---
import ContactButtons from "./ContactButtons.astro";
import Nav from "./Nav.astro";
---

<footer class="pt-20 pb-4 space-y-8">
  <ContactButtons class="justify-center" />
  <Nav />
  <p class="text-center text-xs">Ignacio A. Molina - Strocs / 2024</p>
</footer>
