<header
  class="w-full flex mx-auto justify-between items-baseline max-w-4xl p-4 relative z-40"
>
  <div class="w-8 h-8 bg-zinc-200 rounded-md"></div>
  <nav class="font-sans flex justify-center gap-2">
    <a
      href="/"
      class="hover:bg-zinc-900/40 rounded-md py-1 px-2 transition hover:outline outline-1 outline-zinc-200/10"
      >Inicio</a
    >
    <a
      href="/"
      class="hover:bg-zinc-900/40 rounded-md py-1 px-2 transition hover:outline outline-1 outline-zinc-200/10"
      >Contacto</a
    >
    <a
      href="/"
      class="hover:bg-zinc-900/40 rounded-md py-1 px-2 transition hover:outline outline-1 outline-zinc-200/10"
      >Experiencia</a
    >
    <a
      href="/"
      class="hover:bg-zinc-900/40 rounded-md py-1 px-2 transition hover:outline outline-1 outline-zinc-200/10"
      >Proyectos</a
    >
    <a
      href="/"
      class="hover:bg-zinc-900/40 rounded-md py-1 px-2 transition hover:outline outline-1 outline-zinc-200/10"
      >Sobre mí</a
    >
  </nav>
</header>
