<div class="img_border_wrapper absolute">
  <div
    class="img_border size-52 lg:size-72 bg-transparent rounded-full outline-2 outline-dashed outline-zinc-200/80"
  >
  </div>
</div>

<script>
  import gsap from "gsap";

  import MotionPathPlugin from "gsap/MotionPathPlugin";

  gsap.registerPlugin(MotionPathPlugin);

  gsap
    .timeline({
      repeat: -1,
      yoyo: true,
    })
    .fromTo(
      ".img_border",
      { x: 0, y: 0 },
      {
        ease: "power1.inOut",
        duration: 8,
        motionPath: [
          { x: 10, y: 10 },
          { x: -10, y: 10 },
          { x: 10, y: -10 },
          { x: -10, y: -10 },
        ],
      }
    );
</script>
