---
import ImageCircle from "./ImageCircle.astro";
---

<div class="relative w-fit h-fit shrink-0">
  <ImageCircle />
  <img
    src="https://avatars.githubusercontent.com/u/71996940?v=4"
    alt="Imágen de Ignacio Molina"
    class="rounded-full w-72 aspect-square"
  />
</div>
