---
import Section from "./Section.astro";
---

<Section id="Proyectos" title="Proyectos" class="space-y-12">
  <div class="projects w-full h-[500px] bg-slate-700 rounded-2xl"></div>
  <div class="projects w-full h-[500px] bg-slate-700 rounded-2xl relative">
  </div>
  <div class="projects w-full h-[500px] bg-slate-700 rounded-2xl"></div>
</Section>

<script>
  import gsap from "gsap";
</script>
