---
import PersonalProject from './components/PersonalProject.astro'
import type { ProjectSchema } from '@/schemas/project.schema'

const loungefi: ProjectSchema = {
  title: '_LoungeFi',
  extract:
    '_LoungeFi es una aplicación web para enfocarse en las tareas diarias,  nace de la idea de crear una aplicación sencilla siguiendo la filosofía  de "Si tienes una idea, programala y listo".',
  repositoryUrl: 'https://github.com/loungefi/loungefi',
  webUrl: 'https://loungefi.com',
  active: true,
  slug: '/',
  techs: ['Javascript', 'React', 'Next.js', 'TailwindCSS'],
  images: [
    {
      src: '/assets/images/portfolio/loungefi.png',
      alt: 'LoungeFi',
    },
    {
      src: '/assets/images/portfolio/loungefi.png',
      alt: 'LoungeFi',
    },
    {
      src: '/assets/images/portfolio/loungefi.png',
      alt: 'LoungeFi',
    },
  ],
}

const projects: ProjectSchema[] = [
  loungefi,
  { ...loungefi, title: 'Datos Fondos de Cultura' },
]
---

<section class='grid gap-24'>
  {projects.map((project) => <PersonalProject {...project} />)}
</section>
