---
type Variants = 'default' | 'lg'

interface Props {
  Icon?: (_Props: Record<string, any>) => any
  label: string
  variant?: Variants
  class?: string | Array<string>
}

const {
  Icon = null,
  label,
  variant = 'default',
  class: customClass,
} = Astro.props as Props

const variants: Record<Variants, string> = {
  lg: 'py-2 px-6',
  default: 'py-1 px-4',
}
---

<span
  class:list={[
    'flex size-min items-center gap-2 whitespace-nowrap rounded font-azeret text-sm leading-none text-foreground outline-dashed outline-1 outline-foreground',
    variants[variant],
    customClass,
  ]}>
  {!!Icon && <Icon class='size-4' />}
  {label}
</span>

<style>
  .shadow-light {
    box-shadow: 0 0 2rem 0 oklch(28% 0.01 250);
  }
</style>
