---
import type { HTMLAttributes } from 'astro/types'
import LinkIcon from '@/components/icons/LinkIcon.astro'

interface Props extends HTMLAttributes<'a'> {
  class?: string
}

const { class: customClass, ...props } = Astro.props
---

<a
  class:list={[
    'group flex size-min items-center gap-2 whitespace-nowrap text-foreground',
    customClass,
  ]}
  {...props}>
  <div
    class:list={[
      'relative w-fit overflow-x-hidden font-bold',
      'after:absolute after:-left-full after:bottom-0 after:w-full after:border-b after:border-b-foreground after:transition-[left] after:duration-150 after:group-hover:left-0',
    ]}>
    <slot />
  </div>
  <LinkIcon
    class='size-5 transform-gpu transition-transform duration-300 group-hover:-rotate-12'
  />
</a>
